@font-face{font-family:'Anton';font-weight:400;font-display:swap;src:url(anton-latin-400-normal.woff2) format('woff2')}
@font-face{font-family:'Yellowtail';font-weight:400;font-display:swap;src:url(yellowtail-latin-400-normal.woff2) format('woff2')}
@font-face{font-family:'Open Sans';font-weight:300;font-display:swap;src:url(open-sans-latin-300-normal.woff2) format('woff2')}
@font-face{font-family:'Open Sans';font-weight:400;font-display:swap;src:url(open-sans-latin-400-normal.woff2) format('woff2')}
@font-face{font-family:'Open Sans';font-weight:600;font-display:swap;src:url(open-sans-latin-600-normal.woff2) format('woff2')}
@font-face{font-family:'Open Sans';font-weight:700;font-display:swap;src:url(open-sans-latin-700-normal.woff2) format('woff2')}
